# LAB | Feature Engineering

**Load the data**

In this challenge, we will be working with the same Spaceship Titanic data, like the previous Lab. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [2]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [4]:
#your code here

spaceship.shape

(8693, 14)

**Check for data types**

In [5]:
#your code here

spaceship.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

**Check for missing values**

In [6]:
#your code here

spaceship.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [10]:
#your code here

spaceship_nona = spaceship.dropna()

spaceship_nona.shape

(6606, 14)

- **Cabin** is too granular - transform it in order to obtain {'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'}

In [19]:
#your code here

spaceship_nona['Cabin'].unique()

spaceship_nona['Cabin'] = spaceship_nona['Cabin'].str[0]

spaceship_nona['Cabin']

C:\Users\VSPC\AppData\Local\Temp\ipykernel_9256\1671790127.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spaceship_nona['Cabin'] = spaceship_nona['Cabin'].str[0]

0       B
1       F
2       A
3       A
4       F
       ..
8688    A
8689    G
8690    G
8691    E
8692    E
Name: Cabin, Length: 6606, dtype: object

- Drop PassengerId and Name

In [23]:
#your code here

spaceship_nona

spaceship_noname_nopass = spaceship_nona.drop(columns=['PassengerId', 'Name'])

spaceship_noname_nopass

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,A,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False
8689,Earth,True,G,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False
8690,Earth,False,G,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True
8691,Europa,False,E,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False
8692,Europa,False,E,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True

- For non-numerical columns, do dummies.

In [24]:
#your code here

X_dum = pd.get_dummies(spaceship_noname_nopass, columns=['CryoSleep', 'VIP', 'Transported'])

X_dum

,HomePlanet,Cabin,Destination,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,CryoSleep_False,CryoSleep_True,VIP_False,VIP_True,Transported_False,Transported_True
0,Europa,B,TRAPPIST-1e,39.0,0.0,0.0,0.0,0.0,0.0,True,False,True,False,True,False
1,Earth,F,TRAPPIST-1e,24.0,109.0,9.0,25.0,549.0,44.0,True,False,True,False,False,True
2,Europa,A,TRAPPIST-1e,58.0,43.0,3576.0,0.0,6715.0,49.0,True,False,False,True,True,False
3,Europa,A,TRAPPIST-1e,33.0,0.0,1283.0,371.0,3329.0,193.0,True,False,True,False,True,False
4,Earth,F,TRAPPIST-1e,16.0,303.0,70.0,151.0,565.0,2.0,True,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,A,55 Cancri e,41.0,0.0,6819.0,0.0,1643.0,74.0,True,False,False,True,True,False
8689,Earth,G,PSO J318.5-22,18.0,0.0,0.0,0.0,0.0,0.0,False,True,True,False,True,False
8690,Earth,G,TRAPPIST-1e,26.0,0.0,0.0,1872.0,1.0,0.0,True,False,True,False,False,True
8691,Europa,E,55 Cancri e,32.0,0.0,1049.0,0.0,353.0,3235.0,True,False,True,False,True,False
8692,Europa,E,TRAPPIST-1e,44.0,126.0,4688.0,0.0,0.0,12.0,True,False,True,False,False,True

**Perform Train Test Split**

In [26]:
#your code here

features = X_dum.drop(columns=['HomePlanet', 'Destination', 'Cabin'])
target = X_dum['Cabin']

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.20, random_state=42)

print(f"X_train: {X_train.shape}")
print(f"X_test: {X_test.shape}")
print(f"y_train: {y_train.shape}")
print(f"y_test: {y_test.shape}")

X_train: (5284, 12)
X_test: (1322, 12)
y_train: (5284,)
y_test: (1322,)

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

In [27]:
#your code here

from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)  

knn = KNeighborsClassifier(n_neighbors=5)  
knn.fit(X_train_scaled, y_train)

y_pred = knn.predict(X_test_scaled)

- Evaluate your model's performance. Comment it

In [29]:
#your code here

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

print("Classification Report:")
print(classification_report(y_test, y_pred))

Accuracy: 0.42
Classification Report:
              precision    recall  f1-score   support

           A       0.38      0.30      0.33        40
           B       0.27      0.36      0.31       135
           C       0.28      0.25      0.26       126
           D       0.28      0.14      0.19        76
           E       0.23      0.16      0.19       139
           F       0.47      0.60      0.53       418
           G       0.54      0.47      0.50       388

    accuracy                           0.42      1322
   macro avg       0.35      0.33      0.33      1322
weighted avg       0.41      0.42      0.41      1322